* {
  padding: 0;
  margin: 0;
}

html,body{
	height: 100%;
	font-family: 'Cabin', sans-serif;
}

h1{
	font-family: 'Merriweather Sans', sans-serif;
}

p{
	font-family: 'Cabin', sans-serif;	
}

header{
	z-index:100;
}

footer {
    position: absolute;
	width:100%;
}

.put-shadow{
	text-shadow: 0.7px 0.7px #999;
}

.change-font{
	font-family: 'Lobster', cursive;
}

.text-white{
	color:white;
}

.text-medium{
	font-size:2em;
}

.text-small{
	font-size:1.5em;
}

.text-mini{
	font-size:0.5em;
}

.text-justify{
	text-align:justify;
}

.text-center{
	text-align:center;
}

.move-right{
	float:right;
}

.move-center{
	margin:0 auto;
}

.set-inline{
	display:inline;
}

.set-inline-bl{
	display:block;
}

.set-pos-left{
	float:left;
}

.set-pos-bottom{
	bottom:0;
}

.middle-pos{
	width:50%;
}

.top-space{
	margin-top:10%;
}

.main-section{
	background-image:url("../imgs/tome-head-back.png");
	min-height: 400px;
	padding-top:1px;
	background-repeat: no-repeat;
	z-index:10;
}

.main-menu {
    float: right;
}

.main-menu-container {
    font-size: 0;
    line-height: 0;
    text-align: right;
    margin-right: 10px;
}

.main-menu-option {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    position: relative;
    vertical-align: top;
}

.main-menu-link{
    padding: 15px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.main-menu-link:hover{
    border-top: 5px solid;
}
.line:before {
    height: 1.5em;
    border-right: 1px solid #fff;
    content:'';
    position: absolute;
    top: 13px;
    right: 0;
}

.border-section{
    border-right: 1px solid #fff;
}

a:hover {
    color: #FF543A;
}

.section-padding{
	padding-top:2.5%;
}

.section-size{  
	min-height:32% 
}

.header-size{  
	min-height:60px 
}

.section-color{
	background:#EAEAEA;
}

.main-color{
	background:#4C4C4C;
}

.btn-red{
  background: #7DCD40;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-red:hover {
  background: #FF543A;
  text-decoration: none;
  cursor:pointer;
}

.list-bar {
    border-bottom: 1px solid #8d8d8d;
    padding-bottom: 7px;
}

.services-list{
    display: inline-block;
    margin-left: 30px;
    max-width: 30%;
    padding: 50px 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}

 .graphic-info{
    float: left;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100px;
}

.service-info{
	font-size: 14px;
    margin-top: 10px;
}

.description-service{
	text-align: left;
    margin-left: 105px;
}

.img-size{
	height: 80px;
    width: 80px;
}

.icon-size{
	height: 20px;
    width: 20px;
}

.link-service{
    color: #ff4842!important;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline!important;
}

.column-section{
	min-width:250px;
}

.no-ref-decoration{
	text-decoration:none;
}


